@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-color {
  background-image: linear-gradient(
    to right top,
    #051937,
    #051840,
    #0c1648,
    #19114f,
    #280853
  );
}

.link-bg {
  background-image: linear-gradient(
    to right top,
    #06285e,
    #132b75,
    #2c2b89,
    #48269b,
    #6816aa
  );
}

.icon-bg:hover {
  background: #149ddd;
  transition: all ease 0.5s;
}

@layer utilities {
  /* root layout  */
  .root-layout {
    @apply flex h-16 items-center justify-between shadow-mobilenav p-5 md:hidden;
  }

  /* Sidebar  */
  .sidebar {
    @apply sticky left-0 top-0 flex flex-col h-screen md:w-[32%] lg:w-[25%] justify-between text-white custom-color overflow-y-hidden max-md:hidden sm:pt-10 sm:p-4 xl:p-6 2xl:w-[355px];
  }

  .sidebar-link {
    @apply flex gap-5 items-center py-1 md:pl-5 md:p-2 2xl:p-4 rounded-lg justify-center md:justify-start;
  }

  /* Mobile nav  */
  .mobilenav {
    @apply border-none custom-color text-white;
  }

  .mobilenav-link {
    @apply flex gap-5 items-start py-2 rounded-lg pl-10;
  }

  .icon-bg {
    @apply link-bg rounded-full px-2 fill-white;
  }
}
