@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-color {
  background-image: linear-gradient(
    to right top,
    #051937,
    #051840,
    #0c1648,
    #19114f,
    #280853
  );
}

.link-bg {
  background-image: linear-gradient(
    to right top,
    #06285e,
    #132b75,
    #2c2b89,
    #48269b,
    #6816aa
  );
}

.icon-bg:hover {
  background: #149ddd;
  transition: all ease 0.5s;
}

@layer utilities {
  /* Sidebar  */
  .sidebar {
    @apply sticky left-0 top-0 flex flex-col h-screen w-fit justify-between text-white custom-color overflow-y-hidden max-md:hidden sm:p-4 xl:p-6 2xl:w-[355px];
  }

  .sidebar-link {
    @apply flex gap-5 items-center py-1 md:pl-5 md:p-3 2xl:p-4 rounded-lg justify-center xl:justify-start;
  }

  .icon-bg {
    @apply link-bg rounded-full px-2 fill-white;
  }
}
